<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>view-images</title>
</head>
<body>
    <button style="display: block; margin-bottom: 10px">Click Here!</button>
    <img src="{{ url_for('static', filename='img1.jpg') }}" alt="" style="display: none">


    <script type=text/javascript src="{{
  url_for('static', filename='jquery.js') }}"></script>

    <script type=text/javascript>
    $( "button" ).click(function() {
      $( "img" ).toggle( "slow" );
    });
    </script>

</body>
</html>